[submodule "submodules/inversion"]
	path = submodules/inversion
	url = https://github.com/guy-murphy/inversion-dev.git
[submodule "submodules/inversion-data"]
	path = submodules/inversion-data
	url = https://github.com/fractos/inversion-data
[submodule "submodules/inversion-extensibility"]
	path = submodules/inversion-extensibility
	url = https://github.com/fractos/inversion-extensibility
[submodule "submodules/inversion-razor"]
	path = submodules/inversion-razor
	url = https://github.com/fractos/inversion-razor
