@inherits RazorEngine.Templating.TemplateBase<Inversion.Collections.DataDictionary<Inversion.IData>>
@{
    this.Layout = @"layouts\base.cshtml";
}

@section Title
{
    <title>Hello Inversion</title>
}

@section Head {}

@section Body
{
    <p>Hello Inversion :)</p>
}